@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
    padding: 15px;
    display: block;
  }

  header a:hover {
      color: #fff;
  }
  
  header ul {
    list-style-type: none;
  }
  
  #logo {
    font-size: 1.8em;
  }
  
  #social-links ul {
    display: flex;
  }


body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 30px;
    width: 80%;
    background-color: rgba(255,255,255, 0.8);
    color: #333;
    padding: 35px;
    left: 10%;

}

h2 {
    margin-bottom: 5px;
}

.buttons button {
    border: 2px solid #fff;
    background-color:  #333;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button#pause {
    position: absolute;
    top: 13%;
    right: 15px;
}

.slide:first-child {
    background: url('./img/1.jpg') no-repeat center center/cover;
}

.slide:nth-child(2) {
    background: url('./img/2.jpg') no-repeat center center/cover;
}

.slide:nth-child(3) {
    background: url('./img/3.jpg') no-repeat center center/cover;
}

.slide:nth-child(4) {
    background: url('./img/4.jpg') no-repeat center center/cover;
}

.slide:nth-child(5) {
    background: url('./img/5.jpg') no-repeat center center/cover;
}

@media(max-width: 500px) {
    .slide .content {
        width: 100%;
        left: 0;
    }

    header {
        flex-direction: column;
        font-size: 0.8em;
      }
      #logo {
        order: -1;
      }
    
      .buttons button {

      }

      .buttons button#pause {
        top: 20%;
        padding: 10px;

    }

    .buttons button#next, .buttons button#prev {
        padding: 10px;;
    }

    .slide .content {
        font-size: 0.8em;
    }
}