
.info__headshot-img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.container {
    display: flex;
    align-items: stretch;
    margin: auto;
}

.left {
    background: green;
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}